<html>
<head>
	<meta charset="utf-8">
	<title>Message Board</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript">



	</script>
</head>
<body>
	<div id="container">
		<h1>The Dojo Message Board</h1>
		<form action='/create_message' method="post" id="message">
			<p>Name: </p> <input type="text" name="name">
			<br>
			<p>Message: </p> <textarea name="message" cols="100" rows="10"></textarea>
			<br>
			<button>Post a Message</button>
		</form>


		<% for ( var message in messages) { %>

		<div class="messages">
			<h4>Name: 	<%= messages[message].name%></h4>
			<h4>Message: 	<%= messages[message].message%></h4>

			<% if (messages[message].comments) { %>
				<% for (var comment in messages[message].comments) { %>
			<div class="comments">
				<h6>Name: <%= messages[message].comments[comment].name %> </h6>
				<h6>Comment: <%= messages[message].comments[comment].comment %></h6>
			</div>
				<% }%>
			<% } %>

			<form action="/create_comment/<%= messages[message]._id%>" method="post">
				<p>Name: </p> <input type="text" name="name">
				<br>
				<p>Comment: </p> <textarea name="comment" cols="100" rows="5"></textarea>
				<br>
				<button>Post a comment!</button>
			</form>
		</div>
		<% } %>
	</div>

</body>
</html>